@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #202124;
  color: #e8eaed;
  position: relative;
  min-height: 100vh;
}

@layer components {
  .btn {
    @apply bg-[#303134] text-[#E8EAED] rounded-md text-sm hover:bg-[#3C4043] focus:outline-none active:bg-[#3C4043] hover:shadow-md w-36 h-10 transition-shadow;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }

  .header-icon {
    @apply bg-transparent hover:bg-[#3C4043] p-2 text-4xl rounded-full cursor-pointer;
  }
}
